* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    width: 980px;
    height: 140px;
    background-color: aqua;
    margin: 0 0 15px 0;
}
.caixas {
    display: flex;

}
.sidebar {
    width: 270px;
    height: 450px;
    background-color: red;
}
.content {
    width: 690px;
    height: 450px;
    background-color: blue;
    margin: 0 0 0 15px;
}

.rodape {
    width: 980px;
    height: 70px;
    background-color:black;
    margin: 15px 0 0 0;
}   
